@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 20px;
}

.navbar {
  margin-bottom: 20px;
}

a:visited {
  color: #C7DBEB;
}

td.repo {
  a {
    display:block;

    small {
      display:block;
      color:#999;
    }

    &:hover {
      text-decoration:none !important;

      small {
        color: #666;
      }
    }

    &:visited {
      small {
        color:#eee;
      }
    }
  }
}
